/* SalesSupervisorDashboard.css */

.dashboard-title {
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
  }
  
  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .error-message {
    text-align: center;
    color: red;
    font-size: 1.5rem;
    margin-top: 20px;
  }
  
  .team-performance-card {
    margin-bottom: 20px;
  }
  
  .card-title {
    font-weight: bold;
  }
  
  .card-text {
    margin-bottom: 5px;
  }
  